// organizations
{"_id":{"$oid":"5ff747727005da1c272740ab"},
    "name":"General Industry",
    "domains":[
        "general.cocreate.app",
    ],
    "apiKey":"2061acef-0451-4545-f754-60cf8160",
    "organization_id":"",
    "host":"general.cocreate.app",
},

// users
{
    "_id": {"$oid":"5ff747727005da1c272740ac"},
    "name":"",
    "email":"",
    "password":"",
    "current_org":"5ff747727005da1c272740ab",
    "connected_orgs":["5ff747727005da1c272740ab"],
    "organization_id":"5ff747727005da1c272740ab",
},

// permissions
{"_id":{
    "$oid":"60beb11cb25613e8da1b4be1"},
    "organization_id":"5ff747727005da1c272740ab",
    "type":"apikey",
    "key":"2061acef-0451-4545-f754-60cf8160",
    "hosts":[
        "general.cocreate.app",
        "*"
    ],
    "collections":{"organizations":["read"],
        "files":["read"],
        "permissions":["read"]
    },
    "documents":{
        "someid":{
            "permissions":[""],
            "fieldNames":{
                "name":["read"]
            }
        }
    },
    "modules":{
        "actions":[
            "login",
            "signin",
            "registerUser",
            "userCureentOrg",
            "createUser",
            "createOrg",
            "runIndustry"
        ],
        "sendgrid":["sendEmail"]
    },
    "super_admin":"true"
}