module.exports = {
    "organization": {
        "name": "<organization, company or project name>",
        "hosts": [
            "<CoCreate subdomain or custom domain pointing to CoCreateWS server>",
        ]
    },
    "user": {
        "name": "admin",
        "email": "<email to use for loggin>",
        "password": "<password to use for loggin>"
    },
    "config": {
        "apiKey": "<CoCreate API Key>",
        "organization_id": "<CoCreate Organization ID>",
        "host": "<CoCreate subdomain or custom domain pointing to CoCreateWS server>"
    },
    "dbUrl": {
        'mongodb': ['<dbUrl>']
    },
    "jwttoken": {
        "options": {
            "algorithm": "HS256",
            "expiresIn": "2 days",
            "issuer": "issuer"
        }
    },
    "sources": [
        {
            "collection": "files",
            "document": {
                "_id": "",
                "name": "index.html",
                "path": "/docs/CoCreateWS/index.html",
                "src": "{{./docs/index.html}}",
                "hosts": [
                    "*",
                    "general.cocreate.app"
                ],
                "directory": "/docs/CoCreateWS",
                "parentDirectory": "{{parentDirectory}}",
                "content-type": "{{content-type}}",
                "public": "true",
                "website_id": "644d4bff8036fb9d1d1fd69c"
            }
        }
    ]
}
