module.exports = {
    "user_id": "<If Known or leave empty>",
    "email": "<email to use for loggin>",
    "password": "<password to use for loggin>",
    "organization_id": "<CoCreate Organization ID>",
    "key": "<CoCreate API Key>",
    "host": "<CoCreate subdomain or custom domain pointing to CoCreateWS server>"
    "storage": {
        "mongodb": {
            "provider": "mongodb",
            "url": [
                "<dbUrl>"
            ]
        }
    },
    "jwttoken": {
        "options": {
            "algorithm": "HS256",
            "expiresIn": "2 days",
            "issuer": "issuer"
        }
    },
    "sources": [
        {
            "array": "files",
            "document": {
                "_id": "",
                "name": "index.html",
                "path": "/docs/CoCreateWS/index.html",
                "src": "{{./docs/index.html}}",
                "host": [
                    "*",
                    "general.cocreate.app"
                ],
                "directory": "/docs/CoCreateWS",
                "parentDirectory": "{{parentDirectory}}",
                "content-type": "{{content-type}}",
                "public": "true",
                "website_id": "644d4bff8036fb9d1d1fd69c"
            }
        }
    ]
}
